### Ejercicio 3

Escribir programa que genere y muestre por pantalla un DataFrame con los datos de la tabla siguiente:

|Mes	|Ventas|Gastos|
|:-----:|:----:|:----:|
|Enero	|30500 |22000 |
|Febrero|35600 |23450 |
|Marzo	|28300 |18100 |
|Abril	|33900 |35700 |
|Marzo	|42500 |32450 |

A continuación, generar nuevas columna:
1.	Columna 1 =  Gasto/Ventas*100.
2.	Columna 2 =  Si Ventas>= 30000, imprimir “Meta Superada”, caso contrario imprimir “Meta no Superada”.
3.	Columna 3 =  Si Gasto>Ventas, calcular el sobre gasto.
4.	Obtener el total de las ventas de los últimos 3 meses
5.	Obtener el total de gastos de febrero a abril

In [1]:
# Definición de entorno y variables
import pandas as pd

ListaDiccionario = []

ListaDiccionario.append({'Mes': 'Enero', 'Ventas': 30500, 'Gastos': 22000})
ListaDiccionario.append({'Mes': 'Febrero', 'Ventas': 35600, 'Gastos': 22450})

# Para el mes de Marzo, al no haber algún campo que identifique si las ventas y gastos corresponden a rubros distintos,
# podemos asumir que fueron 2 operaciones similares realizadas en el mes, por lo que de una vez las sumamos.
# Para efectos de comprensión, muestro la operación en el diccionario
ListaDiccionario.append({'Mes': 'Marzo', 'Ventas': 28300+42500, 'Gastos': 18100+32450})
ListaDiccionario.append({'Mes': 'Abril', 'Ventas': 33900, 'Gastos': 35700})


# Convertimos la lista a Dataframe
dfOperaciones = pd.DataFrame.from_records(ListaDiccionario)
dfOperaciones = dfOperaciones.set_index('Mes') # Se escoge la columna mes como Indice

print(dfOperaciones)

         Ventas  Gastos
Mes
Enero     30500   22000
Febrero   35600   22450
Marzo     70800   50550
Abril     33900   35700

##### Paso 1
Columna 1 =  Gasto/Ventas*100.

In [2]:
dfOperaciones['Margen'] = dfOperaciones['Gastos']/dfOperaciones['Ventas']*100
print(dfOperaciones)

         Ventas  Gastos      Margen
Mes
Enero     30500   22000   72.131148
Febrero   35600   22450   63.061798
Marzo     70800   50550   71.398305
Abril     33900   35700  105.309735

##### Paso 2
Columna 2 =  Si Ventas>= 30000, imprimir “Meta Superada”, caso contrario imprimir “Meta no Superada”.

In [3]:
dfOperaciones['Meta'] = dfOperaciones['Ventas'].apply(lambda x: 'Meta Superada' if x >= 30000 else 'Meta no superada')
print(dfOperaciones)

         Ventas  Gastos      Margen           Meta
Mes
Enero     30500   22000   72.131148  Meta Superada
Febrero   35600   22450   63.061798  Meta Superada
Marzo     70800   50550   71.398305  Meta Superada
Abril     33900   35700  105.309735  Meta Superada

##### Paso 3
Columna 3 =  Si Gasto>Ventas, calcular el sobre gasto.

In [4]:
# Creamos la columna "SobreGastos" con la diferencia entre Gastos y Ventas
dfOperaciones['SobreGastos'] = dfOperaciones['Gastos']-dfOperaciones['Ventas']
# Reemplazamos con 0, los valores de "Sobregastos" que sean negativos
dfOperaciones.loc[dfOperaciones['SobreGastos'] < 0, 'SobreGastos'] = 0

print(dfOperaciones)

         Ventas  Gastos      Margen           Meta  SobreGastos
Mes
Enero     30500   22000   72.131148  Meta Superada            0
Febrero   35600   22450   63.061798  Meta Superada            0
Marzo     70800   50550   71.398305  Meta Superada            0
Abril     33900   35700  105.309735  Meta Superada         1800

##### Paso 4
Obtener el total de las ventas de los últimos 3 meses

In [5]:
dfVentas3Meses = dfOperaciones.iloc[1:4,0].sum()
print( 'Total ventas de Febrero a Abril: ', dfVentas3Meses)

Total ventas de Febrero a Abril:  140300

##### Paso 5
Obtener el total de gastos de febrero a abril

In [6]:
dfGastos3Meses = dfOperaciones.iloc[1:4,1].sum()
print( 'Total gastos de Febrero a Abril: ', dfGastos3Meses)

Total gastos de Febrero a Abril:  108700